{% extends 'fbapp/master.html' %}

{% block content %}

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <figure class="image is-2by1 box"><img src="{{q.cover}}" alt="q.title"></figure>
                <p class="title">{{q.name}}</p>
                <p class="subtitle">{{q.description}}</p>
                <button class="button is-large is-fullwidth is-info" onclick="loginbtnfunc();">Continue With Facebook</button>
            </div>

            <!---------Side bar is in this------------>
{% include 'fbapp/horizontalbar.html' %}
            
        </div>
    </div>
</section>


{% load static %}
<script src="{% static 'fbscript.js' %}"></script>

{% endblock %}

