{% extends 'fbapp/master.html' %}

{% block content %}

<center>
        <img src="https://i.imgur.com/aCXiOQt.png">
</center>


<!----------------cards for postss-------->

<section class="section">
    <div class="columns">
{% for q in queryset %}


    <div class="column is-one-third">
        <div class="card">
            <div class="card-image">
                <figure class="image is-2by1"><img src="{{q.cover}}"></figure>
            </div>
            <div class="card-content">
                <p class="title is-size-5">{{q.name}}</p>
                <p class="subtitle is-size-6">{{q.description}}</p>
                <a class="button is-info is-fullwidth" href="{% url 'detail' q.pk %}">Play Now</a>
            </div>    
        </div>
    </div>


{% endfor %}
</div>
</section>

{% load static %}

{% endblock %}