<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>facebbok Fun App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
</head>
<body>




<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item title" href="/">QuizNow.</a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item"><button class="button is-info is-rounded">Create Your Own</button></div>
            </div>
        </div>
    </div>
</nav>





{% block content %}
Nothing Specified in block content :(
{% endblock %}


</body>
</html>