{% extends 'fbapp/master.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="hero">
            <div class="hero-body">
                <h1 class="heading is-size-1">Terms & Conditions</h1>
                <p class="content">
                    No data of yours is being stored in our server except your name for result 
                    showing purpose which is being deleted once in a month.
                    Be assured that your data will not be sold to any other company as we dont have your data.
                    Thank you!
                </p>
            </div>
        </div>

    </div>
</section>

{% endblock %}